{% extends "admin_base.html" %}

{% block title %}STTS-Admin Dashboard{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
    <h2>Welcome to your STTS Dashboard, {{ current_user.username }}!</h2>
    {% if current_user.role == "admin" %}
        <p>This is visible only to admins: Manage users, settings, etc.</p>
    {% elif current_user.role == "user" %}
        <p>This is visible only to users: Your profile info.</p>
    {% endif %}
{% else %}
    <h1>You are not logged in</h1>
{% endif %}

</div>

{% endblock %}