{% extends "user_base.html" %}

{% block title %}Funds{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-12">

        <h1 class="display-4">User account</h1>

        <p class="lead">Funds that they already have.</p>

    </div>

</div>

<form action="{{ url_for('deposit_cash') }}" method="POST">
    <label>Deposit ($):</label>
    <input type="number" name="amount" min="1" step="0.01" class="form-control">
    <button type="submit" class="btn btn-success mt-2">Deposit</button>
</form>

<form action="{{ url_for('withdraw_cash') }}" method="POST">
    <label>Withdraw ($):</label>
    <input type="number" name="amount" min="1" step="0.01" class="form-control">
    <button type="submit" class="btn btn-danger mt-2">Withdraw</button>
</form>


{% endblock %}