{% extends "user_base.html" %}

{% block title %}User Portfolio{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2 class="text-center">Welcome to Your Portfolio!</h2>
    <p><strong>Your Current Balance is:</strong> ${{ "{:,.2f}".format(current_user.cash_balance) }}</p>
    <h3>Owned Stocks</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares Owned</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in current_user.portfolio %}
            <tr>
                <td>{{ stock.stock.symbol }}</td>
                <td>{{ stock.shares_owned }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}